.top_nav {
    background: rgb(0, 0, 0);
    background: linear-gradient(41deg, rgba(0, 0, 0, 1) 0%, rgba(249, 115, 22, 1) 65%);
}

.bg-white {
    transition: background-color 0.3s ease;
}

/* Add styles for the fixed navbar */
.fixed {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 50;
    background-color: white;
}